body{
	margin: 0;
	padding: 0;
	background-color: #F7F8FA;
    color: #444;
	overflow-x:hidden;
	overflow-y:scroll;
    font-family: sans-serif;
}
.site-wrapper {
    position: relative;
    overflow: hidden;
}
h1,h2 {
    margin: 0;
    padding: 0
}
hr {
    opacity: 0.5;
}

/* waves style ****************************/
.box {
	position: absolute;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #AC8F89;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
}
.wave.-two {
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: #81635D;
}
.wave.-three {
  -webkit-animation: drift 7500ms infinite linear;
          animation: drift 7500ms infinite linear;
	background-color: #6C514C;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
@-webkit-keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* page styles ****************************/
.page {
    height: 100vh;
    width: 100vw;
    display: inline-block;
}
.page.height-auto {
    height: auto;
}

.header-navbar a,
.text-name,
.text-title,
.header-ancher,
.page-footer {
    color: #634A45;
}
.button-primary,
.page-hr {
    background-color: #634A45;
}
.header-email,
.header-navbar a {
    font-weight: 700;
}
.header-navbar {
    width: 90%;
    position: fixed;
    display: flex;
    list-style: none;
    justify-content: center;
    height: 50px;
    margin: 0;
    align-items: center;
    box-shadow: 0 0 5px #999;
    border-bottom-right-radius: 18px;
    z-index: 11;
    backdrop-filter: blur(28px);
}
.header-navbar a {
    padding: 0 15px;
}
.header-divider {
    height: 20vh;
}

.header-child-details {
    width: 50vw;
    padding-left: 20vw;
    transition: 0.95s ease;
}
.header-email {
    color: #444;
    margin: 25px 0;
    display: flex;
    line-height: 1.5;
    width: max-content;
}
.header-email img {
    width: 20px;
}
.header-social img {
    width: 32px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    box-shadow: 0 0 4px #222;
}
.header-user-avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 12vw;
}

.text-name {
    font-size: 84px;
}
.button-primary {
    user-select: none;
    color: #fff;
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    padding: 10px 15px;
    margin-top: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.button-primary:hover {
    box-shadow: 0 2px 8px #634a45;
    transition: 0.2s ease;
}
.button-primary:active {
    transform: scale(0.950, 0.950);
    opacity: 0.8;
}
.header-ancher {
    width: 100px;
    background: transparent;
    font-size: 46px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


.button-primary:focus,
.header-ancher:focus {
    outline: none;
}
.header-child,
.header-social,
.section-flex {
    display: flex;
}
.header-user-avatar,
.header-child-details,
.page-wrapper {
    z-index: 9;
}
.header-navbar a,
.header-email {
    text-decoration: unset;
}

.page-wrapper {
    position: relative;
    padding: 0 5vw;
}
.section-flex {
    width: 80vw;
    padding: 3vw 0;
    justify-content: space-between;
}
.project-image {
    width: 510px;
}
.project-info {
    max-width: 32vw;
    padding-top: 15px;
    display: block;
}
.page-footer {
    padding: 20px;
    text-align: center;
    background-color: #EEE;
}
.page-hr {
    height: 10px;
    width: 88%;
    margin-bottom: 10px;
    margin-left: 5vw;
    border-radius: 20px;
    opacity: 0.2;
}


@media only screen and (max-width: 760px) {
    
    h1 {
        font-size: 1.4em;
    }
    .box {
        transform: rotate(-70deg);
    }
    .header-navbar {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
    .header-navbar li {
        padding: 10px;
        filter: brightness(0.5);
    }
    .header-divider {
        height: 10vh;
    }
    .header-child {
        flex-direction: column-reverse;
        position: relative;
    }
    .header-child-details {
        width: max-content;
        padding-left: 10vw;
    }
    .header-user-avatar {
        width: 180px;
        height: 180px;
        margin-left: 5vw;
        margin-bottom: 4vh;
    }
    .text-name {
        font-size: 46px;
    }
    .button-primary {
        font-size: 16px;
    }
    .header-social img {
        box-shadow: none;
    }
    .header-ancher {
        margin-left: 65%;
    }
    .section-flex {
        flex-direction: column;
    }
    .section-flex.reverse {
        flex-direction: column-reverse;
    }
    .project-info {
        max-width: max-content;
    }
    .project-image {
        margin: 10px 0;
        width: 90vw;
    }
}
@-moz-document url-prefix() {
    .header-navbar {
        background-color: #EEEEEEEE;
    }
}