:root {
    --color_background: #F7F8FA;
    --color_background_page: #FFFFFF;
    --color_primary: #634A45;
    --color_text: #444;
    --color_light_primary: #FFF;
}
html,body {
    margin: 0;
    padding: 0;
}
body{
	background-color: var(--color_background);
    color: var(--color_text);
	overflow-x: hidden;
	overflow-y: scroll;
    font-family: sans-serif;
}
.site-wrapper {
    position: relative;
    overflow: hidden;
}
h1,h2 {
    margin: 0;
    padding: 0
}
hr {
    opacity: 0.5;
}


/* page styles ****************************/
.page {
    height: 90vh;
    width: 90vw;
    position: relative;
    display: inline-block;
    background: var(--color_background_page);
    margin: 2.5vh auto;
    display: block;
    border-radius: 22px;
    box-shadow: 0 0 15px #9f9f9f;
    overflow: hidden;
}
.foreground{
    position: absolute;
    bottom: 0;
}
.foreground .trees {
    fill: var(--color_background)
}
.foreground .trees.base {
    filter: drop-shadow(20px 20px 34px #88888888);
}
.page.height-auto {
    height: auto;
}

.header-navbar a,
.text-name,
.text-title,
.page-footer {
    color: var(--color_primary);
}
.button-primary,
.page-hr {
    background-color: var(--color_primary);
}
.header-email,
.header-navbar a {
    font-weight: 700;
}
.header-navbar {
    width: 90%;
    list-style: none;
    height: 50px;
    padding: 0;
    align-items: center;
    background: var(--color_background);
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 12px;
    z-index: 99;
    box-shadow: 0 2px 2px #dddddd99;
}
.header-navbar li {
    padding: 10px;
    z-index: 99;
}
.header-navbar a {
    padding: 0 15px;
}
.header-divider {
    height: 5vh;
}
.header-child-details {
    width: 50vw;
    padding-left: 15vw;
    transition: 0.95s ease;
}
.header-email {
    color: var(--color_text);
    margin: 25px 0;
    display: flex;
    line-height: 1.5;
    width: max-content;
}
.header-email img {
    width: 20px;
}
.header-social img {
    width: 32px;
    margin: 0 10px 0 0;
    border-radius: 50px;
}
.header-user-avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 12vw;
    background-color: var(--color_background);
}

.text-name {
    font-size: 84px;
}
.button-primary {
    user-select: none;
    color: var(--color_light_primary);
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    padding: 10px 15px;
    margin-top: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.button-primary:hover {
    box-shadow: 0 2px 8px #634a45;
    transition: 0.2s ease;
}
.button-primary:active {
    transform: scale(0.950, 0.950);
    opacity: 0.8;
}


.button-primary:focus {
    outline: none;
}
.header-child,
.header-social,
.section-flex {
    display: flex;
}
.header-user-avatar,
.header-child-details,
.page-wrapper {
    z-index: 9;
}
.header-navbar a,
.header-email {
    text-decoration: unset;
}

.page-wrapper {
    position: relative;
    padding: 0 5vw;
}
.section-flex {
    width: 80vw;
    padding: 3vw 0;
    justify-content: space-between;
}
.project-image {
    width: 510px;
    filter: drop-shadow(0 12px 14px #99999944);
    border-radius: 12px;
    border: 1px solid #ddd;
}
.project-info {
    max-width: 32vw;
    padding-top: 15px;
    display: block;
}
.page-footer {
    padding: 20px;
    text-align: center;
    background-color: #EEEEEE22;
}
.page-hr {
    height: 10px;
    width: 88%;
    margin-bottom: 10px;
    margin-left: 5vw;
    border-radius: 20px;
    opacity: 0.2;
}
.iframe-blog{
    flex: 1;
    margin: 10px;
}


@media only screen and (max-width: 760px) {
    
    h1 {
        font-size: 1.4em;
    }
    .header-divider {
        height: 2vh;
    }
    .header-child {
        flex-direction: column-reverse;
        position: relative;
    }
    .header-child-details {
        width: max-content;
        padding-left: 10vw;
    }
    .header-user-avatar {
        width: 150px;
        height: 150px;
        margin-left: 5vw;
        margin-bottom: 4vh;
    }
    .foreground {
        height: 68vh;
    }
    .text-name {
        font-size: 46px;
    }
    .button-primary {
        font-size: 16px;
        font-weight: 700;
    }
    .section-flex {
        flex-direction: column;
    }
    .section-flex.reverse {
        flex-direction: column-reverse;
    }
    .project-info {
        max-width: max-content;
    }
    .project-image {
        margin: 10px 0 25px 0;
        width: 100%;
    }
}
@-moz-document url-prefix() {
    .header-navbar {
        background-color: #EEEEEEEE;
    }
}